h2 {
    font-family: 'Cherry Cream Soda', cursive;
    font-size: 38px;
    text-align: center;
}

h1 {
    font-family: 'Cherry Cream Soda', cursive;
    font-size: 72px;
    text-align: center;
}


h3 {
    font-family: 'Cherry Cream Soda', cursive;
    text-align: center;
}

p {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

ul {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  list-style-type: none;
}

#note {
  background-color: #66cccc;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 25px;
}

#tbd {
  background-color: #E4E2E1;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 25px;
}